---
export const rightsEnum = Object.freeze({
  // ロマサガ2の権利表記
  roma2: `© 1993,2010,2016,2017 SQUARE ENIX CO., LTD. All Rights Reserved.<br/>
    Planned & Developed by ArtePiazza<br/>
    ILLUSTRATION:TOMOMI KOBAYASHI<br/>
    CG Illustration : ArtePiazza<br/>
    当該作品の転載・配布は禁止いたします。<br/>
    注：本サイトは上記権利者の協力・要請のもとに作成されたものではありません。<br/>`,
  // ロマサガ2リメイクの権利表記
  roma2r: `© SQUARE ENIX`
})
const { rights } = Astro.props
---

<footer>
  問い合わせ先：<a href="https://twitter.com/sagamax__" target="_blank" rel="noopener noreferrer">@sagamax</a><br/>
  <p class="rights">
    <small>
      <Fragment set:html={rights} />
    </small>
  </p>
  <span class="pr"><a href="https://template-party.com/" target="_blank" rel="noopener noreferrer">《Web Design:Template-Party》</a></span>
</footer>
