---
import HeaderIndex from './HeaderIndex.astro';
let { indexList } = Astro.props;
---

<!--PC用（801px以上端末）メニュー-->
<header class="pc">
  <HeaderIndex indexList={indexList}/>
</header>
<!--/.pc-->

<!--小さな端末用（800px以下端末）メニュー-->
<header class="sh">
  <div id="menubar-s">
    <HeaderIndex indexList={indexList}/>
  </div><!--/#menubar-s-->
</header>
<!--/.sh-->
